footer{
    display: flex;
    text-align: center;
    background-color: #c76d39;
    bottom: 1.5vw;
    width: 100%;
    position: fixed;
    font-family: "myFirstFont";
    z-index: 1;
    height: 3vw;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
}
footer img{
    width: 2.5vw;
    margin: auto;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
footer #elso{
    grid-column-start: 3;
    grid-column-end: 4;
}
footer #elsoa{
    grid-column-start: 8;
    grid-column-end: 9;
}
footer h1, footer #elso, footer #masodik, footer #harmadik, footer #negyedik{
    margin: auto;
    color: #2E1A5B;
}
footer #elso, footer #masodik, footer #harmadik, footer #negyedik{
    padding-left: 2vw;
    padding-right: 2vw;
}
footer h1{
    font-size: 3.5vw;
    font-family: "myFirstFont";
    color: #6f7351;
}
footer p{
    display: block;
    margin-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1vw;
}
@media screen and (max-width: 480px)
{
    footer{
        height: 8vw;
        bottom: 3vw;
    }
    footer a{
    font-size: 3vw;
    }
    footer h1{
        font-size: 6vw;
        margin-left: 1vw;
    }
    footer img{
        width: 6vw;
    }
    footer p{
        display: none;
    }
}