html, body{
    margin: 0;
    padding: 0;
    background-color: #E8D5B5;
}
header{
    display: block;
    justify-items: flex-start;
    height: 3.5vw;
    background-color: #c76d39;
    line-height: 3.5vw;
    padding: 0vw 4vw 0vw 2vw;
    position: fixed;
    width: 95%;
    top: 0;
}
#lenyilo{
    display: none;
    position: fixed;
    width: 100%;
    top: 10vw;
    z-index: 2;
}
#lenyilo a{
    display: block;
    z-index: 2;
    text-align: center;
    text-decoration: none;
    color: #2E1A5B;
    font-size: 7vw;
    font-family: "myFirstFont";
    background-color: #c76d39;
    border: solid black 1px;
    border-bottom: 0px;
    padding: 1vw;
    box-shadow: 0px 0px 5px black;
}
header .menuikon{
    width: 5vw;
    display: none;
}
header #kell{
    float: right;   
    height: 5vw;
}
header #kell a:hover{
    color: white;
}
header #kell a{
    text-decoration: none;
    color: #2E1A5B;
    font-family: "myFirstFont";
    margin-left: 2vw;
    font-size: 2vw;
}
header h1{
    display: inline-block;
    margin: auto;
    font-family: "myFirstFont";
    font-size: 3vw;
    color: #6f7351;
}
#bevezeto{
    display: grid;
    grid-template-columns: 40vw 40vw;
    margin-left: 5vw;
    gap: 10vw;
    font-family: "myFirstFont";
    color: #6f7351;
    margin-top: 7vw;
}
#bevezeto #bal{
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-top: 6vw;
}
#bevezeto #bal p{
    font-family: "myFirstFont";
    color: #c76d39;
}
#bevezeto #bal button{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 1.5vw;
    background-color: rgb(185, 185, 185);
    font-family: "myFirstFont";
}
#bevezeto #jobb{
    width: 100%;
}
#ertekelesek{
    margin-top: 5vw;
    display: flex;
    gap: 2vw;
    width: 90%;
    margin-left: 5%;
    font-family: "myFirstFont";
    margin-bottom: 5vw;
}
#ertekelesek #e_elso{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
#ertekelesek #e_masodik{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
#ertekelesek #e_harmadik{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
.profilkep{
    width: 5vw;
    border-radius: 3vw;
}
footer{
    display: flex;
    text-align: center;
    background-color: #c76d39;
    bottom: 1vw;
    width: 100%;
    position: fixed;
    font-family: "myFirstFont";
    z-index: 1;
    height: 4vw;
}
footer a{
    text-decoration: none;
    color: black;
    font-size: 2vw;
}
footer img{
    width: 3.5vw;
    margin: auto;
}
footer #elso{
    grid-column-start: 3;
    grid-column-end: 4;
}
footer #elsoa{
    grid-column-start: 8;
    grid-column-end: 9;
}
footer h1, footer #elso, footer #masodik, footer #harmadik, footer #negyedik{
    margin: auto;
    color: #2E1A5B;
}
footer #elso, footer #masodik, footer #harmadik, footer #negyedik{
    padding-left: 2vw;
    padding-right: 2vw;
}

footer h1{
    font-size: 3vw;
    font-family: "myFirstFont";
    color: #6f7351;
}
footer p{
    display: block;
    margin-right: 1vw;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1vw;
}
#asd{
    display: none;
}
#copy{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #c76d39;
    font-size: 1vw;
    height: 1vw;
    z-index: 2;
    margin: 0;
    padding: 0.1vw;
}
@font-face {
    font-family: myFirstFont;
    src: url(../assets/KaushanScript-Regular.ttf);
  }
  @media screen and (max-width: 480px)
{
    #bevezeto{
        grid-template-columns: 90vw;
        margin-left: 5vw;
        margin-top: 13vw;
    }
    #bevezeto #bal, #bevezeto #jobb{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #bevezeto #bal{
        z-index: 1;
        margin: auto;
        font-size: 5vw;
    }
    header{
        display: flex;
        height: 10vw;
        line-height: 10vw;
        align-items: center;
        z-index: 2;
    }
    header a{
        display: none;
    }
    header h1{
        width: 100%;
        font-size: 7vw;
        text-align: center;
        z-index: 1;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2 ;
    }
    header .menuikon{
        width: 8vw;
        display: block;
    }
    #ertekelesek{
        flex-direction: column;
        margin-bottom: 10vw;
    }
    #ertekelesek #e_elso, #ertekelesek #e_masodik, #ertekelesek #e_harmadik{
        font-size: 5vw;
    }
    .profilkep{
        width: 12vw;
        border-radius: 6vw;
    }
    #copy{
        height: 3vw;
        font-size: 3vw;
        padding: 0.5vw;
    }
    footer{
        height: 8vw;
        bottom: 3vw;
    }
    footer a{
    font-size: 3vw;
    }
    footer h1{
        font-size: 6vw;
        margin-left: 1vw;
    }
    footer img{
        width: 6vw;
    }
    footer p{
        display: none;
    }
    #asd{
        display: block;
        width: 8vw;
    }
    #bevezeto #bal p{
        color: #E8D5B5;
    }
    #bevezeto #bal button{
        width: 30vw;
        height: 8vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        font-size: 5vw;
    }
}