html, body{
    margin: 0;
    padding: 0;
    background-color: #E8D5B5;
}
header{
    width: 95%;
}
#lenyilo{
    width: 100%;
}
#bevezeto{
    display: grid;
    grid-template-columns: 40vw 40vw;
    margin-left: 5vw;
    gap: 10vw;
    font-family: "myFirstFont";
    color: #6f7351;
    margin-top: 7vw;
}
#bevezeto #bal{
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-top: 6vw;
}
#bevezeto #bal p{
    font-family: "myFirstFont";
    color: #c76d39;
}
#bevezeto #bal button{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    border-radius: 1.5vw;
    background-color: rgb(185, 185, 185);
    font-family: "myFirstFont";
}
#bevezeto #jobb{
    width: 100%;
}
#ertekelesek{
    margin-top: 5vw;
    display: flex;
    gap: 2vw;
    width: 90%;
    margin-left: 5%;
    font-family: "myFirstFont";
    margin-bottom: 5vw;
}
#ertekelesek #e_elso{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
#ertekelesek #e_masodik{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
#ertekelesek #e_harmadik{
    flex: 1;
    text-align: center;
    font-size: 1vw;
}
.profilkep{
    width: 5vw;
    border-radius: 3vw;
}
@font-face {
    font-family: myFirstFont;
    src: url(../assets/KaushanScript-Regular.ttf);
  }
  @media screen and (max-width: 480px)
{
    #bevezeto{
        grid-template-columns: 90vw;
        margin-left: 5vw;
        margin-top: 13vw;
    }
    #bevezeto #bal, #bevezeto #jobb{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    #bevezeto #bal{
        z-index: 1;
        margin: auto;
        font-size: 5vw;
    }
    #ertekelesek{
        flex-direction: column;
        margin-bottom: 10vw;
    }
    #ertekelesek #e_elso, #ertekelesek #e_masodik, #ertekelesek #e_harmadik{
        font-size: 5vw;
    }
    .profilkep{
        width: 12vw;
        border-radius: 6vw;
    }
    #copy{
        height: 3vw;
        font-size: 3vw;
        padding: 0.5vw;
    }
    #asd{
        display: block;
        width: 8vw;
    }
    #bevezeto #bal p{
        color: #E8D5B5;
    }
    #bevezeto #bal button{
        width: 30vw;
        height: 8vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        font-size: 5vw;
    }
}