html,
body {
    margin: 0;
    padding: 0;
    background-color: rgba(232, 213, 181, 1);
}

body {
    margin: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(../assets/KaushanScript-Regular.ttf);
}

.d1 h2,
.d1 p {
    margin: 0;
    padding: 0;
    height: 3vw;
}

.akcioskonyvek {
    margin-top: 3vw;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.d2 {
    display: grid;
    margin-top: 2%;
    width: 100%;
    line-height: 100%;
    font-size: 20px;
    border: 2px solid black;
    height: 160%;
    grid-template-rows: 3vw 10vw;
}

.flex-container {
    display: flex;
}

#h2 {
    margin-left: 20vw;
}

#p {
    margin-left: 20vw;
    margin-right: 3vw;
}

#sigmakep {
    width: 11vw;
}

#agyilkoskep {
    width: 11vw;
}

.akcio1 {
    width: 30%;
    margin-left: 15vw;
    font-family: "myFirstFont"
}

.akcio2 {
    width: 30%;
    margin-left: 15vw;
    font-family: "myFirstFont";
}

.akcio3 {
    width: 30%;
    margin-left: 15vw;
    font-family: "myFirstFont";
}

#asigmakiskep {
    width: 11vw;
}